@charset "utf-8";
/* wrapper */
body.m-open{
	overflow: hidden;
}
.wrapper{
	width: 100%;
	height: 100%;
}
/* skip */
.skip-nav a{
	position: fixed;
	left:0;
	top:-9999px;
	z-index: 10000;
	width: 100%;
	line-height: 40px;
	background-color: #4f4f4f;
	font-size: 16px;
	text-align: center;
	color: #fff;
}
.skip-nav a:focus{
	top:0;
}
/* header */
#header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
	transition: background-color 0.2s;
}
#header:hover{
	background-color: #fff;
	color:#333
}
#header .header-inner .top{
	position: relative;
	height: 80px;
	margin: 0 auto;
}
#header .top .top-inner{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1300px;
	height: 80px;
	margin: 0 auto;
}
#header .top .lang a.lang-select{
	display: inline-block;
	position: relative;
	padding-right:30px;
	line-height: 32px;
	text-decoration: none;
	font-size: 16px;
	color:#000;
	border-radius: 25px;
}
#header .top .lang-select::after{
	content: "";
	position: absolute;
	right: 10px;
	top:8px;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	border: 1px solid #000;
	border-top-color: transparent;
	border-left-color: transparent;
}
#header .top .lang-select.active::after{
	top:13px;
	transform: rotate(225deg);
}
#header .lang .list{
	display: none;
	position: absolute;
	padding: 5px 5px;
	left: 63px;
	width: 55px;
	height: 60px;
	line-height: 20px;
	font-size: 14px;
	text-align: left;
	border-radius: 7px;
	background-color: transparent;
}
#header .lang .list.active {
	display: block;
}
#header .top .lang-select::before{
	content: "language -";
	top:0;
	left:0;
	color:#999;
	font-size: 14px;
}
#header .top .logo a img{
	display: block;
	width: 170px;
}
#header .top .utils{
	font-size: 0;
}
#header .top .utils li{
	display: inline-block;
	position: relative;
}
#header .top .utils li::after{
	content: "";
	position: absolute;
	right:0px;
	top: 10px;
	width: 1px;
	height: 15px;
	background-color: #eaeaea;
}
#header .top .utils li:last-child::after{
	display: none;
	vertical-align: middle;
}
#header .top .utils li a{
	display: block;
	padding:0 10px;
	font-size: 16px;
	line-height: 40px;
}
#header .top .utils li a img{
	width: 18px;
	vertical-align: middle;
}
#gnb{
	margin: 0 auto;
	max-width: 1300px;
	text-align: center;
	height: 45px;
}
#gnb > ul{
	display: flex;
	justify-content: center;
}
#gnb > ul > li{
	display: inline-block;
	position: relative;
}
#gnb > ul > li > a{
	display: block;
	padding: 0 25px;
	line-height: 45px;
	font-size: 16px;
	font-weight: 400;
	color: #DC272D;
}
/* #gnb > ul > li:hover ul, */
#gnb > ul > li.active ul{
	display: block;
}
#gnb > ul > li::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	transform: scaleX(0);
	background-color: #DC272D;
	transition: transform 0.2s;
}
#gnb > ul > li:nth-of-type(2):after{
	display: none;
}
#gnb > ul > li:hover::after,
#gnb > ul > li.active::after{
	transform: scaleX(1);
}
#gnb li ul{
	display: none;
	position: absolute;
	left: 50%;
	z-index: 1000;
	width: 600px;
	font-size: 0;
	transform: translateX(-50%);
}
#gnb li ul li{
	display: inline-block;
}
#gnb li li a{
	display: block;
	position: relative;
	padding: 0 14px;
	line-height: 38px;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	background-color: #fff;
	color: #666;
	transition:all 300ms;
}
#gnb li li a:hover,
#gnb li li a:focus {
	color: #222;
}
#header .menu .gnb-bg{
	display: none;
	position: absolute;
	left:0;
	top:125px;
	z-index: 999;
	min-width: 1300px;
	width: 100%;
	height: 38px;
	background-color: #fff;
	transform: translateY(-100%);
	transition: transform 0.3s;
}
#header .menu.active .gnb-bg{
	display: block;
	transform: translateY(0%);
}
#mo-menu{
	position: absolute;
	top:0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: block;
	transform: translateX(-100%);
	transition: transform 0.3s;
	background-color: #fff;
}
#mo-menu.m-open{
	transform: translateX(0);
}
#mo-menu .m-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #eaeaea;
}
#mo-menu .m-logo{
	max-width: 150px;
}
#mo-menu .close{
	font-size: 30px;
	cursor: pointer;
}
#mgnb > ul > li{
	text-align: left;
}
#mgnb > ul > li > a{
	display: block;
	font-size: 25px;
	line-height: 40px;
	padding: 20px 0 20px 20px;
}
#mgnb > ul > li:hover > a,
#mgnb > ul > li.active > a{
	color:#DC272D;
}
#mgnb > ul > li:first-child{
	border: 0;
	margin-top: 20px;
}
#mgnb ul ul{
	display: none;
	overflow: hidden;
}
#mgnb > ul > li.active > ul{
	/* display: block; */
}
#mgnb ul ul li a{
	display: block;
	line-height: 40px;
	padding: 12px 0 12px 20px;
	background-color: #EEF8FF;
	font-size: 18px;
}
#mgnb ul ul li:hover a{
	font-weight: 600;
}


#tab{
	display: none;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
}
#tab a{
	display: block;
	width: 100%;
	height: 100%;
}
#tab a .open i{
	font-size: 24px;
}


/* slider */
#slider {
	position: relative;
	width: 100%;
	height: 750px;
	overflow: hidden;
}
#slider .main-slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#slider .swiper-slide{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.125em;
	background: #fff;
}
#slider .slider-txt{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	text-align: left;
}
#slider .slider2 .slider-txt{
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #f23037;
}
#slider .slider3 .slider-txt{
	color: #DC272D;
}
#slider .slider4 .slider-txt{
	color: #ff7a4c;
}
#slider .slider-txt strong{
	font-size: 50px;
}
#slider .slider-txt span{
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}
#slider .main-control{
	position: absolute;
	top:auto;
    left: 10%;
    bottom: 150px;
    z-index: 500;
	width: 300px;
    height: 2px;
    padding: 0 30px;
	background-color: #fff5;
}
#slider .main-control .swiper-pagination-progressbar-fill {
	background-color: #009BDE;
}
#slider .swiper-slide img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#slider .direction a {
	position: absolute;
	top:50%;
	z-index: 501;
	width: 37px;
	height: 74px;
	transform: translateY(-50%);
}
#slider .direction a img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
#slider .direction a.left{
	left:20px;
}
#slider .direction a.right{
	right:20px;
}
/* section */

#content{
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 120px;
}
#content .title{
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 20px;
}


/* best */
#content .best{
	/* margin-top: 120px; */
}
#content .best .content{
	position: relative;
	max-width: 1300px;
	margin: 0 auto;
}
#content .best .content .text{
	position: absolute;
	left: 0;
	bottom: 16%;
	padding: 12px 40px 15px 11%;
	background-color: rgba(255,255,255,0.8);
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
#content .best .content .text h4{
	font-size: 32px;
	font-weight: 600;
	color:#333;
}
#content .best .content .text p{
	font-size: 18px;
	font-weight: 400;
	color:#333;
	
	padding-top: 8px;
}
#content .best .content .text span.detail{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	padding: 8px 23px;
	border:1px solid #333;
	margin-top:20px;
	color:#333;
}
#content .best .content a img{
	width: 100%;
}
/* season */
#content .season{
	position: relative;
	margin: 0 auto;
	margin-top: 120px;
	padding-bottom: 120px;
	overflow: hidden;
}
#content .season .title{
	margin-left: 60px;
}
#content .season .contents{
	margin: 0 60px;
	overflow: hidden;
}
#content .season .swiper-slide a{
	display: block;
	background-color: #f1faff;
	padding-bottom: 50px;
	text-align: center;
	overflow: hidden;
}
#content .season .swiper-slide a img{
	display: block;
	padding: 0 3px;
	width: 100%;
	box-sizing: border-box;
	object-fit: cover;
}
#content .season .swiper-slide a .text h3{
	line-height: 40px;
	margin-top: 30px;
	font-size: 18px;
	font-weight: 600;
}
#content .season .swiper-slide a .text span{
	line-height: 40px;
	font-size: 14px;
	font-weight: 300;
	color:#999;
}
#content .season .swiper-slide a .text span.cost{
	display: block;
	font-size: 16px;
	color:#000;
	font-weight: 400;
}
#content .season .swiper-button-next{
	margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 35px;
    height: 67px;
    text-indent: -9999px;
	transform: translateY(-50%);
    background: url(../images/pd_slide_arrow_next.svg) no-repeat center center;
	z-index: 10;
}
#content .season .swiper-button-prev{
	margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 35px;
    height: 67px;
	transform: translateY(-50%);
    text-indent: -9999px;
    background: url(../images/pd_slide_arrow_prev.svg) no-repeat center center;
	z-index: 10;
}
#content .season .swiper-pagination {
	width: 50%;
    top: auto;
    bottom: 60px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}
#content .season .swiper-pagination-progressbar-fill {
	background-color: #009bde;
}

/* service */

#content .service{
	max-width: 1300px;
	margin-top: 120px;
	font-size: 0;
}
#content .service ul{
	display: flex;
}
#content .service li {
	width: calc((100% - 20px)/2);
	margin-left: 20px;
	text-align: center;
}
#content .service li a{
	display: block;
}
#content .service li:first-child{
	margin: 0;
}
#content .service .text h3{
	display: block;
	font-size: 24px;
	padding: 20px 0;
}
#content .service .text span {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	padding: 7px 20px;
	border: 1px solid #000;
}


/* review */
#content .review{
	
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 120px;
	font-size: 0;
}
#content .review .content{
	overflow: hidden;
	position: relative;
}
#content .review .content .swiper-slide{
	height: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
}
#content .review .content .swiper-slide:first-child{
	margin: 0;
}
#content .review .content .swiper-slide a{
	display: block;
}
/* #content .review .content .swiper-slide a .re-img{
	height: 500px;
	overflow: hidden;
} */
#content .review .content .swiper-slide a img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translateY(0);
	transition: transform 0.3s;
}
#content .review .content .swiper-slide:hover a img,
#content .review .content .swiper-slide:focus a img{
	transform: translateY(-20px);
}
#content .review .text{
	position: absolute;
	left: -10%;
	bottom: 0;
	z-index: 10;
	width: 120%;
	height: 100px;
	overflow: hidden;
	background-color:#fff;
	border-radius: 50% 50% 0 0;
	font-size: 14px;
	transform: translateY(100%);
	transition: transform 0.3s;
}
#content .review .content .swiper-slide:hover .text,
#content .review .content .swiper-slide:focus .text{
	transform: translateY(0%);
}
#content .review .text p{
	font-weight: 600;
	margin-top: 20px;
	line-height: 40px;
}
#content .review .text .report{
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
	margin: 0 auto;
    white-space: nowrap;
}
#content .review .swiper-slide a > span{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	background-color: #000;
	border-radius: 15px;
	color: #fff;
}
#content .review .swiper-button-next{
	margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background: url(../images/pd_slide_arrow_next.svg) no-repeat center center;
    background-color: #fffa;
    z-index: 10;
}
#content .review .swiper-button-prev{
	margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    top: 0;
	left: 0;
    text-indent: -9999px;
    background: url(../images/pd_slide_arrow_prev.svg) no-repeat center center;
    background-color: #fffa;
    z-index: 10;
}

/* footer */
#footer{
	position: relative;
	margin-top: 80px;
	border-top: 1px solid #eee;
	font-size: 1em;
}
#footer .top{
	margin: 0 auto;
	border-bottom: 1px solid #eaeaea;
}
#footer .top-inner{
	max-width: 1300px;
    margin: 0 auto;
	padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer .list{
	font-size: 0;
}
#footer .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#footer .list li{
	position: relative;
	display: inline-block;
	padding: 0 20px;
	line-height: 55px;
}
#footer .list li:first-child{
	padding-left: 0;
}
#footer .list li::after{
	display: block;
	content: "";
	position: absolute;
	right: 0;
	top:20px;
	z-index: 100;
	width: 1px;
	height: 15px;
	background-color: #666;
}
#footer .list li:last-child::after{
	display: none;
}
#footer .list li a{
	display: block;
	font-size: 14px;
	font-weight: 300;
	color:#999;
}
#footer .list li a span{
	font-weight: 500;
	color:#333
}
#footer .top .sns ul{
	display: flex;
}
#footer .top .sns li{
	padding-left: 10px;
}
#footer .top .sns li a{
	display: block;
	line-height: 55px;
}
#footer .top .sns li a img{
	vertical-align: middle;
}
#footer .wab a img{
	width: 42px;
}
#footer .copyright{
	max-width: 1300px;
	margin: 0 auto;
	padding: 10px 50px;
}
#footer .copyright p{
	line-height: 30px;
	font-size: 14px;
	font-weight: 300;
	color:#999;
}